<script setup>
import { useI18n } from "vue-i18n";

const { messages } = useI18n();
</script>

<template>
  <header class="header container">
    <span>{{ $t("message.logo") }}</span>

    <div>
      <select
        v-model="$i18n.locale"
        class="header__language-selector"
        name="languages"
        id="languages"
      >
        <option v-for="lang in Object.keys(messages)" :value="lang">
          {{ messages[lang].name }}
        </option>
      </select>
    </div>
  </header>
</template>

<style>
.header {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__language-selector {
  padding: 10px 5px;
}
</style>
