<script setup>
import { ref, watch } from "vue";

const cms = ref(0);
const inches = ref(0);

watch(
  cms,
  () => {
    inches.value = Math.round(cms.value * 0.3937 * 100) / 100;
  },
  { immediate: true }
);
</script>

<template>
  <div class="example">
    <h3>{{ $t("message.lengthConverterTitle") }}</h3>
    <div class="example__function">
      <div class="example__function-side">
        <input type="number" v-model="cms" id="centimeters" />
        <label class="example__unit" for="centimeters">
          {{ $t("message.centimetersText") }}
        </label>
      </div>
      <span class="example__equal"> = </span>
      <div class="example__function-side">
        <input type="number" :value="inches" disabled id="inches" />
        <label class="example__unit" for="inches">
          {{ $t("message.inchesText") }}
        </label>
      </div>
    </div>
    <div class="example__formula">
      <span class="example__formula-badge">{{
        $t("message.formulaText")
      }}</span>
      <span>{{ $t("message.lengthFormula") }}</span>
    </div>
  </div>
</template>

<style src="./style.css"></style>
