<script setup>
import { ref, watch } from "vue";

const ounces = ref(0);
const grams = ref(0);

watch(
  ounces,
  () => {
    grams.value = Math.floor(ounces.value * 28.3495);
  },
  { immediate: true }
);
</script>

<template>
  <div class="example">
    <h3>{{ $t("message.massConverterTitle") }}</h3>
    <div class="example__function">
      <div class="example__function-side">
        <input type="number" v-model="ounces" id="ounces" />
        <label class="example__unit" for="ounces">{{
          $t("message.ouncesText")
        }}</label>
      </div>
      <span class="example__equal"> = </span>
      <div class="example__function-side">
        <input type="number" :value="grams" disabled id="grams" />
        <label class="example__unit" for="grams">{{
          $t("message.gramsText")
        }}</label>
      </div>
    </div>
    <div class="example__formula">
      <span class="example__formula-badge">{{
        $t("message.formulaText")
      }}</span>
      <span>{{ $t("message.massFormula") }} </span>
    </div>
  </div>
</template>

<style src="./style.css"></style>
