.example {
  /* border: 1px solid lightgray; */
  background-color: var(--light-grey);
  border-radius: 0.5rem;
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
  font-size: 0.9rem;
}

.example h3 {
  margin-top: 0;
  color: var(--grey);
}

.example input[type="number"] {
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 0.25rem;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--grey);
}

.example input[type="number"]:disabled {
  background-color: #fff;
}

.example__function {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin: 2rem 0;
  justify-content: center;
  flex-direction: column;
}

.example__function-side {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example__equal {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0rem;
}

.example__unit {
  font-size: 0.85rem;
  margin-top: 0.5rem;
}

.example__formula {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  flex-direction: column;
  margin-top: 1rem;
}

.example__formula-badge {
  background-color: #ffa910;
  color: #fff;
  padding: 0.25rem;
  border-radius: 0.2rem;
}

@media (min-width: 1200px) {
  .example__function {
    flex-direction: row;
  }

  .example__formula {
    flex-direction: row;
    align-items: center;
    margin-top: 0;
  }

  .example__equal {
    margin-bottom: 2rem;
  }
}
