<script setup>
import { ref, watch } from "vue";

const f = ref(0);
const c = ref(0);

watch(
  f,
  () => {
    c.value = Math.round((f.value - 32) * (5 / 9));
  },
  { immediate: true }
);
</script>

<template>
  <div class="example">
    <h3>{{ $t("message.temperatureConverterTitle") }}</h3>
    <div class="example__function">
      <div class="example__function-side">
        <input type="number" v-model="f" id="f-degrees" />
        <label class="example__unit" for="f-degrees">
          {{ $t("message.fahrenheitText") }}
        </label>
      </div>
      <span class="example__equal"> = </span>
      <div class="example__function-side">
        <input type="number" :value="c" disabled id="c-degrees" />
        <label class="example__unit" for="c-degrees">
          {{ $t("message.celsiusText") }}
        </label>
      </div>
    </div>
    <div class="example__formula">
      <span class="example__formula-badge">{{
        $t("message.formulaText")
      }}</span>
      <span
        >({{ f || 0 }}<b>{{ $t("message.fahrenheitSymbol") }}</b> − 32) × 5/9 =
        {{ c || 0 }}<b>{{ $t("message.celsiusSymbol") }}</b></span
      >
    </div>
  </div>
</template>

<style src="./style.css"></style>
