<script setup>
import { watch } from "vue";
import { useI18n } from "vue-i18n";
import Header from "./components/Header.vue";
import MassConverter from "./components/examples/MassConverter.vue";
import LengthConverter from "./components/examples/LengthConverter.vue";
import TemperatureConverter from "./components/examples/TemperatureConverter.vue";

const { t, locale } = useI18n();

watch(locale, () => {
  const page = document.querySelector("html");
  page.lang = locale;
  page.dir = t("dir") || "rtl";
});
</script>

<template>
  <Header></Header>

  <main class="container">
    <div class="hero">
      <div>
        <h1>{{ $t("message.slogan") }}</h1>
        <div>
          <p>✔ {{ $t("message.heroText1") }}</p>
          <p>✔ {{ $t("message.heroText2") }}</p>
          <p>✔ {{ $t("message.heroText3") }}</p>
          <p>✔ {{ $t("message.heroText4") }}</p>
        </div>
      </div>
      <img src="/images/function_machine.png" alt="" />
    </div>
    <section>
      <h2>{{ $t("message.sectionHeading1") }}</h2>
      <p>
        {{ $t("message.sectionText1") }}
      </p>
    </section>

    <section>
      <h2>{{ $t("message.sectionHeading2") }}</h2>
      <p>
        {{ $t("message.sectionText2") }}
      </p>
      <div class="img-container">
        <img
          class="cake-images"
          src="/images/ingredients.png"
          :alt="$t('message.ingredients')"
        />
        <img
          class="cake-images"
          src="/images/oven.png"
          :alt="$t('message.oven')"
        />
        <img
          class="cake-images"
          src="/images/cake.png"
          :alt="$t('message.cake')"
        />
      </div>
    </section>

    <section>
      <h2>{{ $t("message.sectionHeading3") }}</h2>
      <div>
        {{ $t("message.sectionText3") }}
        <p>
          {{ $t("message.sectionText4") }}
        </p>

        <p>
          {{ $t("message.sectionText5") }}
        </p>
      </div>
    </section>

    <section>
      <h2>{{ $t("message.sectionHeading4") }}</h2>
      <div>
        {{ $t("message.interactiveText1") }}
        <MassConverter></MassConverter>
      </div>

      <div>
        {{ $t("message.interactiveText2") }}
        <LengthConverter></LengthConverter>
      </div>

      <div>
        {{ $t("message.interactiveText3") }}
        <TemperatureConverter></TemperatureConverter>
      </div>
    </section>
  </main>
  <footer>
    {{ $t("message.copyright") }}
    <a
      href="https://www.wikimedia.org/"
      target="_blank"
      rel="noopener noreferrer"
      >{{ $t("message.wikimediaLink") }}</a
    >
  </footer>
</template>

<style>
* {
  box-sizing: border-box;
}

/*Colors from wiki functions logo*/
:root {
  --blue: #086597;
  --crimson-red: #950607;
  --dark-green: #35915a;
  --light-grey: #f3f3f3;
  --grey: #4b546b;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: rgba(60, 60, 60, 0.7);
  font-size: 1.3rem;
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 1.2rem 0.9rem 0;
}

h2 {
  color: #ef2626;
}

img {
  object-fit: contain;
  width: 100%;
}

.container {
  width: 100%;
  margin: 1rem auto;
}

.hero {
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  line-height: 20px;
  gap: 1rem;
}

.hero h1 {
  color: #ffa910;
  line-height: 80px;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

section {
  margin: 4rem 1.2rem;
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 8rem;
}

.cake-images {
  width: 300px;
  height: 300px;
}

footer {
  background-color: var(--light-grey);
  color: var(--grey);
  text-align: center;
  padding: 2rem 0;
  margin-top: 4rem;
}

footer a {
  color: inherit;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
  .img-container {
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }

  .hero {
    flex-direction: row;
    font-size: 1.3rem;
  }

  .hero h1 {
    font-size: 3.5rem;
  }
}
</style>
